body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    overflow: hidden;
  }
  
  .concentric {
    position: relative;
    width: 1200px;
    height: 1200px;
  }
  
  .circle { 
    position: absolute; 
    top: calc(50% - 350px); /* spostamento verso l’alto */ 
    left: 50%; border-radius: 50%; 
    transform: translate(-50%, -50%); } /* dal più piccolo (1) al più grande (4) */ 
    .c1 { 
        width: 1200px; 
        height: 1200px; 
        background: rgba(0, 0, 0, 0.05); 
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
        backdrop-filter: blur(10.2px); 
        -webkit-backdrop-filter: blur(10.2px); 
        border: 1px solid rgba(255, 255, 255, 0.68); 
        z-index: 1; } 
        
    .c2 { 
        width: 1000px; 
        height: 1000px; 
        background: rgba(0, 0, 0, 0.08); 
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); 
        backdrop-filter: blur(10.2px); 
        -webkit-backdrop-filter: blur(10.2px); 
        border: 1px solid rgba(255, 255, 255, 0.68); 
        z-index: 2; } 
        
    .c3 { 
        width: 800px; 
        height: 800px; 
        background: rgba(0, 0, 0, 0.07); 
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); 
        backdrop-filter: blur(10.2px); 
        -webkit-backdrop-filter: blur(10.2px); 
        border: 1px solid rgba(255, 255, 255, 0.68); 
        z-index: 4; } 
        
    .c4 { 
        width: 600px; 
        height: 600px; 
        background: rgba(0, 0, 0, 0.10); /* semi-transparent */ /* From https://css.glass */ 
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); 
        backdrop-filter: blur(10.2px); 
        -webkit-backdrop-filter: blur(10.2px); 
        border: 1px solid rgba(255, 255, 255, 0.68); 
        z-index: 5; }

  h1, h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Geist', sans-serif;
    font-weight: 300;
    font-size: 124px;
    letter-spacing: 0.02em;
    pointer-events: none;
    z-index: 10; /* IMPORTANTISSIMO */
  }
  
  h1 { top: 30%; }
h2 { top: 40%; }

.textshadow .blurry-text {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
 }

h1 span,
h2 span {
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

  
h1::before,
h2::before {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  color: rgba(255,255,255,0.45);
  filter: blur(22px);
  z-index: 1;
}

  
  
h1::after,
h2::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  color: rgba(0,0,0,0.25);
  filter: blur(8px);
  z-index: 2;
}

